*{
    margin: 0;
    padding:0;
}
html{
    scroll-behavior:auto;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.int{
    min-height: 100vh;
    width: 100%;
    background-image: url(intbac2.png);
    background-size: cover;
    background-position: center;
    position: relative;
    filter: brightness(80%);
    filter: blur(50%);
    
}

.intr{
    text-align: center;
    padding-top: 10%;
    font-size: larger;
}

.intr a:hover{
    background-color: chartreuse;
}
 
.sd{
    background-color:lightskyblue;
    padding-left: 2%;
}

.sdg{
    background-color:aquamarine;
    padding-left: 2%;
}

.iot{
    background-color:khaki;
    padding-left: 2%;
}


